.card {
    height: rem(150px);
    max-width: rem(200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    box-sizing: border-box; 
    overflow:hidden;
  }

  .card {
    @mixin dark {
        box-shadow: 0 5px 10px rgba(0, 128, 128, 0.05), 0 15px 40px rgba(0, 139, 139, 0.2);
        background-color:rgba(128, 128, 128, 1)
    }
    @mixin light {
        box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
      }

  }

  .redirectIcon {
    position: absolute;
    align-items: center;
    color: white;
    z-index: 1;
  }

  .card:hover .logo{
    transition: filter 0.3s ease-in-out;
    filter: blur(5px) brightness(10%);
    
  }