.wrapper {
    padding: 2rem;
  }
  
  .title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(36px);
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    color: #333333;
  }

  .description{
    color: #333333;
    font-weight: 600;
    
  }


  @media (max-width: 520px) {
    .featuresCard {
      width: 40%;
    }
    .title{
      font-size: rem(20px);
    }
  }
  
  @media (max-width: 320px) {
    .featuresCard {
      width: 40%;
    }
    .title{
      font-size: rem(14px);
    }
  }