.wrapper {
    padding: 2rem;
  }
  
  .title {
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(36px);
    font-weight: 900;
    line-height: 1.1;
    margin-bottom: var(--mantine-spacing-md);
    color: white;
  }

  .description{
    color: white;
    font-weight: 600;
    
  }


  @media (max-width: 520px) {
    .featuresCard {
      width: 40%;
    }
    .title{
      font-size: rem(20px);
    }
  }
  
  @media (max-width: 320px) {
    .featuresCard {
      width: 40%;
    }
    .title{
      font-size: rem(14px);
    }
  }

  .container{
    background: rgba(30, 30, 30, 0.65);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
  }