.root {
    background-color: #11284b;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(250deg, rgba(201, 244, 139, 0) 0%, #062343 70%),
    url('../assets/images/shipping-dock-2.jpg');
    background-attachment: fixed;
    padding-top: calc(var(--mantine-spacing-xl) * 3);
    padding-bottom: calc(var(--mantine-spacing-xl) * 3);
    z-index:1;
    position: relative;
  }
  
  .inner {
  
    @media (max-width: $mantine-breakpoint-md) {
      flex-direction: column;
    }
  }
  
  .image {
    @media (max-width: var(--mantine-breakpoint-md)) {
      display: none;
    }
  }
  
  .content {
    padding-top: calc(var(--mantine-spacing-xl) * 2);
    padding-bottom: calc(var(--mantine-spacing-xl) * 2);
    margin-right: 0;
  
    @media (max-width: $mantine-breakpoint-sm) {
      margin-right: 0;
    }
  }
  
  .title {
    color: var(--mantine-color-white);
    font-family: Greycliff CF, var(--mantine-font-family);
    font-weight: 900;
    line-height: 1.05;
    max-width: rem(600px);
    font-size: rem(48px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(36px);
      line-height: 1.15;
    }
    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(28px);
      line-height: 1.15;
    }
  }
  
  .description {
    color: var(--mantine-color-white);
    opacity: 0.75;
    max-width: rem(500px);
  
    @media (max-width: $mantine-breakpoint-md) {
      max-width: 100%;
    }
  }
  
  .control {
    padding-left: rem(50px);
    padding-right: rem(50px);
    font-family: Greycliff CF, var(--mantine-font-family);
    font-size: rem(22px);
  
    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(18px);
    }

    @media (max-width: $mantine-breakpoint-xs) {
      font-size: rem(16px);
    }

    @media (max-width: 425px) {
      width: 100%;
      font-size: rem(16px);
    }
  }

  .LazyLoad {
    opacity: 0;
    transition: all 3s ease-in-out;
  }

  .is-visible {
    opacity: 1;
  }