.card {
    height: rem(170px);
    width: 300px;
    max-width: rem(300px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:1rem;
    padding:1rem;
    border-radius: 1rem;
    box-sizing: border-box; 
    overflow:hidden;
    @media (max-width: 1600px) {
      width: rem(250px);
    }
    @media (max-width: 1350px) {
      width: rem(200px);
    }
    @media (max-width: 1080px) {
      width: rem(180px);
    }
  }

  .card {
    @mixin dark {
        box-shadow: 0 5px 10px rgba(0, 128, 128, 0.05), 0 15px 40px rgba(0, 139, 139, 0.2);
        background-color:rgba(128, 128, 128, 1)
    }
    @mixin light {
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
      }

  }

  .redirectIcon {
    position: absolute;
    align-items: center;
    color: white;
    z-index: 1;
  }

  .card:hover .logo{
    transition: filter 0.3s ease-in-out;
    filter: blur(5px) brightness(10%);
    
  }

  .carousel{
    @media (max-width: $mantine-breakpoint-sm) {
      width: rem(100px);
    }
  }

  .logo{
    width:400px;
    height:400px;
  }

  