.indicators{
    color:grey
}
.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(102, 204, 255, 1);
    margin:0;
    padding:0;
    
}


@media (max-width: 400px) {
    .root {
      width: 90%;
    }
  }
 
  @media (max-width:$mantine-breakpoint-sm) {
    .slide {
      border-radius: 1rem;
    }
  }
    